1The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.
2. The company needs to check whether there is any dependency between the
features “Region” and “Manager”.

In [2]:
import scipy.stats as st
import math
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv('desktop/sales_add.csv')

In [4]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [5]:
data.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [6]:
data.shape

(22, 5)

In [7]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [9]:
data.isna().any()

Month                             False
Region                            False
Manager                           False
Sales_before_digital_add(in $)    False
Sales_After_digital_add(in $)     False
dtype: bool

#To test whether there is increase in mean of sale after digital marketing

Null hypothesis H0:no differanc b/w means  of sale before and after digital marketing

Alternative hypothesis H1:entering digital marketing what is the change in means of sale(increasing)

we fix a alpha value=0.05

we use a t_test because  only two releated samples

In [11]:
pre=data['Sales_before_digital_add(in $)']

In [12]:
pos=data['Sales_After_digital_add(in $)']

In [13]:
st.ttest_rel(pre,pos,alternative='less')

Ttest_relResult(statistic=-12.09070525287017, pvalue=3.168333502287889e-11)

In [ ]:
p value very small compared to siginificance level 0.05

so we can reject the null hypothesis

we can conclude there is increase the sale after steping in digital marketing

# Dependency b/w Region and Manager

In [16]:

#H0: Region and Manager are independent attributes

#H1: Region and Manager are dependent on each other

alpha=0.05

In [19]:
data['Region'].value_counts()

Region - A    10
Region - B     7
Region - C     5
Name: Region, dtype: int64

In [21]:
data['Manager'].value_counts()

Manager - A    9
Manager - B    7
Manager - C    6
Name: Manager, dtype: int64

In [30]:
#Contingenct Table

ct=pd.crosstab(data.Region,data.Manager, margins=True)

In [31]:
ct

Manager     Manager - A  Manager - B  Manager - C  All
Region
Region - A            4            3            3   10
Region - B            4            1            2    7
Region - C            1            3            1    5
All                   9            7            6   22

In [34]:
obs_arr=np.array([ct.iloc[0][0:3].values,ct.iloc[1][0:3].values,ct.iloc[2][0:3].values])

In [36]:
st.chi2_contingency(obs_arr)

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [ ]:
# p<0.05
#we can fail to  reject null hypothesis, Region and Manager are independent attributes