In [1]:
# Read the dataset to python environment

import pandas as pd
df=pd.read_excel("desktop/iris.xls")
print(df)

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [2]:
# Display the columns in the data set

df['SL']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SL, Length: 150, dtype: float64

In [3]:
df['SW']

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: SW, Length: 150, dtype: float64

In [4]:
df['PL']

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PL, Length: 150, dtype: float64

In [5]:
df['PW']

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: PW, Length: 150, dtype: float64

In [6]:
df['Classification']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Classification, Length: 150, dtype: object

In [7]:
# Calculate the mean of each column of the dataset

df.mean()

SL    5.843333
SW    3.054000
PL    3.758667
PW    1.198667
dtype: float64

In [8]:
# Check for the null values present in the dataset

df.isnull()

        SL     SW     PL     PW  Classification
0    False  False  False  False           False
1    False  False  False  False           False
2    False  False  False  False           False
3    False  False  False  False           False
4    False  False  False  False           False
..     ...    ...    ...    ...             ...
145  False  False  False  False           False
146  False  False  False  False           False
147  False  False  False  False           False
148  False  False  False  False           False
149  False  False  False  False           False

[150 rows x 5 columns]

In [9]:
df.isnull().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [ ]:
# Perform meaningful visualization using the dataset