In [3]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [4]:
import pandas as pd

In [7]:
data=pd.read_csv('/content/gdrive/MyDrive/datas/cars_data.csv')

In [9]:
data.head(5)

     Make    Model    Nickname  ... 5-yr Depreciation Top Speed  0-60 Time
0  Suzuki   Vitara  Philippine  ...              0.13     200.9       11.5
1   Honda    S2000      Henrik  ...              0.02     158.5        8.8
2     BMW       Z4      Lebbie  ...              0.24     149.5       14.4
3  Toyota   Tacoma    Jefferey  ...              0.20     153.3       11.5
4    Ford  Festiva     Glendon  ...              0.18     122.0       14.9

[5 rows x 20 columns]

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               10000 non-null  object
 1   Model              10000 non-null  object
 2   Nickname           10000 non-null  object
 3   Car Gender         10000 non-null  object
 4   Buyer Gender       10000 non-null  object
 5   Buyer Age          10000 non-null  int64
 6   Buzzword           10000 non-null  object
 7   Country            10000 non-null  object
 8   City               10000 non-null  object
 9   Dealer Latitude    10000 non-null  float64
 10  Dealer Longitude   10000 non-null  float64
 11  Color              10000 non-null  object
 12  New Car            10000 non-null  bool
 13  Purchase Date      10000 non-null  object
 14  Sale Price         10000 non-null  float64
 15  Discount           10000 non-null  float64
 16  Resell Price       10000 non-null  float64
 17  5-yr Depreciation  10000 non-null  float64
 18  Top Speed          10000 non-null  float64
 19  0-60 Time          10000 non-null  float64
dtypes: bool(1), float64(8), int64(1), object(10)
memory usage: 1.5+ MB

In [11]:
data.isnull().sum()

Make                 0
Model                0
Nickname             0
Car Gender           0
Buyer Gender         0
Buyer Age            0
Buzzword             0
Country              0
City                 0
Dealer Latitude      0
Dealer Longitude     0
Color                0
New Car              0
Purchase Date        0
Sale Price           0
Discount             0
Resell Price         0
5-yr Depreciation    0
Top Speed            0
0-60 Time            0
dtype: int64